@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';

@mixin themable($theme-name, $container-bg, $left-bg, $right-bg, $innertext, $button-bg,$nav-bg) {
    $screen-sm-min: 576px;
    $screen-md-min: 768px;
    $screen-lg-min: 992px;
    $screen-xl-min: 1200px;

    .#{$theme-name} {

        body {
            background-color: $container-bg;
            height: 100vh;
            display: flex;
            min-width: $screen-sm-min;
        }

        .leftside {
            background-color: $left-bg;
            height: 100vh;
            flex: none;
            position: absolute;
            width: 200px;
            overflow-y: auto;
            display: flex;
            z-index: 99999;
            /*@media screen and (orientation: landscape) {
           position: relative;    
      }*/
        }

        .content {
            flex: auto;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }

        .content main {
            background-color: $right-bg;
            flex: auto;
        }

        .content header {
            background-color: $button-bg;
        }

        .content footer {
            background-color: $button-bg;
            height: 50px;
        }

        .cz-nav-bg {
            background-color: $nav-bg;
        }

        .cz-layout-nav-search-button {
            border-color: green;
            color: $button-bg;

            &:hover, &:after, &:focus {
                background-color: green;
                color: white;
            }
        }


        .cz-brand {
            &:hover, &:focus, &:active {
                background-color: transparent;
                color: $button-bg;
            }
        }

        .cz-login {
            &:hover, &:focus, &:active {
                background-color: transparent;
                color: $button-bg !important;
            }
        }

        .cz-register {
            &:hover, &:focus, &:active {
                background-color: transparent;
                color: $button-bg !important;
            }
        }

        .navbar-toggler {
            float: right;
        }

        @media screen and (orientation: landscape) {
            .leftside {
                position: relative;
            }
        }

        @media screen and (max-width: 768px) {
            .cz-layout-nav-search-button {
                display: none;
            }

            .hideitem {
                display: none;
            }
        }
    }
}

@include themable(theme-1, #f7eb80, #497265, #82aa91, #fff, #bc6a49,#e3f2fd);
